body {
  background: #101117;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div:first-child {
  margin: 20px 0;
}
div:first-child table:first-of-type {
  margin: 15px 2px;
  background: #ffffff !important;
}
div:first-child table:last-of-type {
  margin: 15px 2px;
  background: #fdfdef !important;
}
div:first-child .head {
  text-align: center;
  margin: 45px 35px;
  color: whitesmoke;
}
div:first-child .img-container {
  text-align: center;
}